<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEutL5ierbIv2OWvRZxMJg1db_9dmbLHE</string>
	<key>GCM_SENDER_ID</key>
	<string>596844581856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iutAssistant.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iut-assistant-711d2</string>
	<key>STORAGE_BUCKET</key>
	<string>iut-assistant-711d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596844581856:ios:2cdeb258110b4eaa411185</string>
</dict>
</plist>